/* *{
    margin: 0;
    padding: 0;
} */


/* hero section */
.hero-section{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-size: cover;
    height: 698px;
}

/* shared style */
.logo-container{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.button-container{
    color: #ffffff;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button-container:hover{
    background-color: rgb(233, 233, 60);
    color: black;
}


/* nav style */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}


/* banner style */
.banner{
    margin: 0px 267.5px;
    text-align: center;
    align-items: center;
    margin-top: 158px;
}

.banner h1{
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-size: 65px;
    font-weight: bold;
}


/* action section style */
.action-section{
    margin: 116px 160px 0px 140px;
}

.action-container{
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
}

.action-container h3{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
    margin-bottom: 0px;
}

.action-container p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    font-family: "Raleway", sans-serif;
}


.action-img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}

/* productive users style */
.productive-users{
    background-color: rgba(77, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    margin: 116px 159px 0px 141px;
}

.Users-heading{
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
    margin-bottom: 0px;
    text-align: center;
}

.users-overall{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}