*{
    margin: 0;
}

body{
        background-color: rgb(78, 71, 255, 0.03);
}

/* hero section */
.hero-section{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-size: cover;
    height: 698px;
}

/* shared style */
.logo-container{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.button-container{
    color: #ffffff;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition-duration: 0.7s;
}
.button-container:hover{
    background-color: rgb(233, 233, 60);
    color: black;
}

/* nav style */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px 0px;
    align-items: center;
}

/* banner style */
.banner{
    margin: 0px 267.5px;
    text-align: center;
    align-items: center;
    margin-top: 158px;
}

.banner h1{
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 37px;
}

/* action section style */
.action-section{
    margin: 116px 160px 0px 140px;
}

.action-container{
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
}

.action-container h3{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
    margin-bottom: 0px;
}

.action-container p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    font-family: "Raleway", sans-serif;
    padding: 23px 0px;
}

.action-img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}

/* productive users style */
.productive-users{
    background-color: rgba(77, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    margin: 116px 159px 0px 141px;
}

.Users-heading{
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
    margin-bottom: 40px;
    text-align: center;
}

.Users{
    display: flex;
    justify-content: center;
    gap: 158px;
}

.users-overall{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.ditels{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

/* challenge section */
.challenge{
    margin: 137px 150px;
}

.challenge h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
}
.user-review{
    display: flex;
    gap: 20px;
}

.user-id{
    border: 1px solid #F2EDED;
    border-radius: 14px;
    background-color: rgb(255, 255, 255, 0.5);
}

.star{
    padding: 24px 0px 0px 24px;
}

.user-tital{
    padding: 24px;
}
.user-tital h4{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color: #000000;
}
.user-tital p{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 8px;
}

.user-info{
    display: flex;
    padding: 0px 24px 24px;
}

.user-info img{
    border-radius: 50%;
    margin-right: 12px;
}

.user-info h4{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #00000086;
}

.user-info p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #0000004b;
}

/* focus style */
.focus-section{
    margin: 137px 149px 0px 151px;
    padding: 71px 150px;
    border-radius: 14px;
    background-color: #ffffff;
    text-align: center;
}

.focus-section h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
}

.focus-section p{
    margin: 20px 0px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.focus-section button{
    margin-bottom: 20px;
}

.focus-section img{
    height: 364.77px;
    width: 840px;
    border-radius: 48px;
}

/* newsletter style */
.newsletter-section{
    display: flex;
    margin: 71px 149px 71px 151px;
    gap: 115px;
    justify-content: center;
    align-items: center;
}

.newsletter-collum{
   width: 50%;
}

.newsletter-section h1{
    font-size: 80px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #000000;
}

.newsletter-section label{
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.newsletter-section input[type="text"], .newsletter-section input[type="email"] {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #D6DDED;
    width: 95%;
    display: block;
    padding: 20px 0px 20px 25px;
    margin-bottom: 19px;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.newsletter-section textarea{
    border: none;
    height: 90px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #D6DDED;
    width: 90%;
    display: block;
    padding: 20px 25px 20px 25px;
    margin-bottom: 19px;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    resize: none;
}

.btn{
    width: 100%;
    height: 48px;
}

/* footer design */
footer{
    padding: 104px 455px;
    text-align: center;
    background-color: #ffffff;
}

.footer-head{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.footer-des{
    color: #8987A1;
    padding: 8px 0px 20px 0px;
}

.footer-op{
    color: #8987A1;
    text-decoration: none;
    padding: 0px 30px 0px 0px;
}